<a href="https://colab.research.google.com/github/Kaushik1526/1BM21CS089-ML/blob/main/ML_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import math


data = pd.read_csv('/content/drive/MyDrive/ Kaushik Potluri- Simple calculator/PlayTennis.csv')

In [ ]:
def find_entropy(data):
    """
    Returns the entropy of the class or features
    formula: - âˆ‘ P(X)logP(X)
    """
    entropy = 0
    for i in range(data.nunique()):
        x = data.value_counts()[i]/data.shape[0]
        entropy += (- x * math.log(x,2))
    return round(entropy,3)



def information_gain(data, data_):
    """
    Returns the information gain of the features
    """
    info = 0
    for i in range(data_.nunique()):
        df = data[data_ == data_.unique()[i]]
        w_avg = df.shape[0]/data.shape[0]
        entropy = find_entropy(df.play)
        x = w_avg * entropy
        info += x
    ig = find_entropy(data.play) - info
    return round(ig, 3)



def entropy_and_infogain(datax, feature):
    """
    Grouping features with the same class and computing their
    entropy and information gain for splitting
    """
    for i in range(data[feature].nunique()):
        df = datax[datax[feature]==data[feature].unique()[i]]
        if df.shape[0] < 1:
            continue

        display(df[[feature, 'play']].style.applymap(highlight)\
                .set_properties(subset=[feature, 'play'], **{'width': '80px'})\
                .set_table_styles([{'selector': 'th', 'props': [('background-color', 'lightgray'),
                                                                ('border', '1px solid gray'),
                                                                ('font-weight', 'bold')]},
                                   {'selector': 'td', 'props': [('border', '1px solid gray')]},
                                   {'selector': 'tr:hover', 'props': [('background-color', 'white'),
                                                                      ('border', '1.5px solid black')]}]))

        print(f'Entropy of {feature} - {data[feature].unique()[i]} = {find_entropy(df.play)}')
    print(f'Information Gain for {feature} = {information_gain(datax, datax[feature])}')

In [ ]:
print(f'Entropy of the entire dataset: {find_entropy(data.play)}')

Entropy of the entire dataset: 0.94

In [ ]:
def highlight(cell_value):
    '''
    Highlight yes / no values in the dataframe
    '''
    color_1 = 'background-color: pink;'
    color_2 = 'background-color: lightgreen;'

    if cell_value == 'no':
        return color_1
    elif cell_value == 'yes':
        return color_2

data.style.applymap(highlight)\
    .set_properties(subset=data.columns, **{'width': '100px'})\
    .set_table_styles([{'selector': 'th', 'props': [('background-color', 'lightgray'), ('border', '1px solid gray'),
                                                    ('font-weight', 'bold')]},
     {'selector': 'tr:hover', 'props': [('background-color', 'white'), ('border', '1.5px solid black')]}])

In [ ]:
entropy_and_infogain(data, 'outlook')

Entropy of outlook - sunny = 0.971

Entropy of outlook - overcast = 0.0

Entropy of outlook - rainy = 0.971
Information Gain for outlook = 0.246

In [ ]:
entropy_and_infogain(data, 'temp')

Entropy of temp - hot = 1.0

Entropy of temp - mild = 0.918

Entropy of temp - cool = 0.811
Information Gain for temp = 0.029

In [ ]:
entropy_and_infogain(data, 'humidity')

Entropy of humidity - high = 0.985

Entropy of humidity - normal = 0.592
Information Gain for humidity = 0.151

In [ ]:
entropy_and_infogain(data, 'windy')

Entropy of windy - False = 0.811

Entropy of windy - True = 1.0
Information Gain for windy = 0.048

In [ ]:
sunny = data[data['outlook'] == 'sunny']
sunny.style.applymap(highlight)\
    .set_properties(subset=data.columns, **{'width': '100px'})\
    .set_table_styles([{'selector': 'th', 'props': [('background-color', 'lightgray'), ('border', '1px solid gray'),
                                                    ('font-weight', 'bold')]},
     {'selector': 'tr:hover', 'props': [('background-color', 'white'), ('border', '1.5px solid black')]}])

In [ ]:
print(f'Entropy of the Sunny dataset: {find_entropy(sunny.play)}')

Entropy of the Sunny dataset: 0.971

In [ ]:
entropy_and_infogain(sunny, 'temp')

Entropy of temp - hot = 0.0

Entropy of temp - mild = 1.0

Entropy of temp - cool = 0.0
Information Gain for temp = 0.571

In [ ]:
entropy_and_infogain(sunny, 'humidity')

Entropy of humidity - high = 0.0

Entropy of humidity - normal = 0.0
Information Gain for humidity = 0.971

In [ ]:
entropy_and_infogain(sunny, 'windy')

Entropy of windy - False = 0.918

Entropy of windy - True = 1.0
Information Gain for windy = 0.02

In [ ]:
rainy = data[data['outlook'] == 'rainy']
rainy.style.applymap(highlight)\
    .set_properties(subset=data.columns, **{'width': '100px'})\
    .set_table_styles([{'selector': 'th', 'props': [('background-color', 'lightgray'), ('border', '1px solid gray'),
                                                    ('font-weight', 'bold')]},
     {'selector': 'tr:hover', 'props': [('background-color', 'white'), ('border', '1.5px solid black')]}])

In [ ]:
print(f'Entropy of the Rainy dataset: {find_entropy(rainy.play)}')

Entropy of the Rainy dataset: 0.971

In [ ]:
entropy_and_infogain(rainy, 'temp')

Entropy of temp - mild = 0.918

Entropy of temp - cool = 1.0
Information Gain for temp = 0.02

In [ ]:
entropy_and_infogain(rainy, 'humidity')

Entropy of humidity - high = 1.0

Entropy of humidity - normal = 0.918
Information Gain for humidity = 0.02

In [ ]:
entropy_and_infogain(rainy, 'windy')

Entropy of windy - False = 0.0

Entropy of windy - True = 0.0
Information Gain for windy = 0.971